.heading{
    background-color: #2C3E50;
}
.details{
    background-color: #D5DBDB;
    padding: 10px;
}
.title{
    color: #34495E;
    font-size: 35px;
}
.expertness{
    background-color: #EAF2F8;
}
.txt{
    color: #5D6D7E;
}